body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 70px;
  /* background-color: red; */
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}