code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Navigation-logo {
  height: 4.5vh;
  pointer-events: none;
  margin-right: 1vh;
}

@media (prefers-reduced-motion: no-preference) {
  .Navigation-logo {
    animation: Navigation-logo-spin infinite 30s linear;
  }
}

@keyframes Navigation-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Navigation-link {
  color: inherit;
  text-decoration: inherit;
}

.fakeLink {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.fakeLink:hover {
  color: #444444;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}