code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100%;
  /* for the page to take full window height */
  box-sizing: border-box;
  /* to have the footer displayed at the bottom of the page without scrolling */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}